nav {
    width: 100%;
    background: rgba(0, 0, 0, .8);
    padding: 10px 80px;
    height: 60px;
}

nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li * {
    line-height: 40px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

nav ul li *:hover {
    color: #61DAFB;
}